<template name="register">
  <div class="container top-100">
    <div class="well">
      <form id="register-form" action="action" class="form-horizontal">
        <div>
          <div class="form-group">
            <label for="usreid" class="col-lg-2 control-label">User ID</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="account-userid" placeholder="It is used for login" maxlength="20"/>
            </div>

            <label for="username" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="account-username" placeholder="It is used for displaying on GeekStarter" maxlength="20"/>
            </div>

            <label for="email" class="col-lg-2 control-label">
            Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="account-email" placeholder="your@email.com" maxlength="50"/>
            </div>

            <label for="pasword" class="col-lg-2 control-label">
            Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="account-password" />
            </div>

            <label for="temp" class="col-lg-2 control-label">
            </label>
            <div class="col-lg-10">
              <button type="submit" class="btn btn-primary" id="create-account" value="Create an Account">Submit</button>
            </div>
          </div>
       </div>
      </form>
    </div>
  </div>
</template>