<template name="discover">
  <section id="discover" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What's popular</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
          {{> project}}
          {{> project}}
          {{> project}}
          {{> project}}
          {{> project}}
          {{> project}}
          {{> project}}
          {{> project}}
          {{> project}}
        </div>
    </div>
  </section>
</template>