<template name="project">
  <div class="container top-100">
    <div class="well">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- Project Details Go Here -->
          <h2>{{title}}</h2>
          <p class="item-intro text-muted">by {{userName}}</p>
          <ul class="list-inline">
            <li>{{submitted}}</li>
          </ul>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
<!--
                  <img class="img-responsive" src="/img/header-bg.jpg" alt="">
 -->
                </div>
                <div class="col-md-12">
                  <h3>Description</h3>
                    {{#markdown}}
{{description}}
                    {{/markdown}}
                </div>
                <div class="col-md-12">
                  {{> fileUpload}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="well">
      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p>Please log in to leave a comment.</p>
      {{/if}}

      <ul class="comments">
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>


<template name="commentItem">
  <li>
  <h4>
    <span class="author">{{author}}</span>
    <span class="date">on {{submittedText}}</span>
  </h4>
    <p>{{body}}</p>
  </li>
</template>

<template name="commentSubmit">
  <form name="comment">
    <div class="form-group">
      <div class="input-group">
          <input type="text" class="form-control" id="commentbody" maxlength="50" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Add Comment</button>
          </span>
      </div>
    </div>
  </form>
</template>

<template name="fund">
  <div class="row">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h2>{{fundRiserCount}}</h2>
        </div>
        <div class="col-md-12"> backers </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" style="text-align: left;">
          {{percent}}% funded
        </div>
        <div class="col-md-12" style="text-align: left;">
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" style="width: {{percent}}%"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h2>₩ {{comma fundAmount}}</h2>
        </div>
        <div class="col-md-12">
          pledged of ₩ {{comma fundGoal}} goal
        </div>
      </div>
    </div>
    {{#if currentUser}}
      <div class="col-md-12">
        <a href="{{pathFor 'projectfund'}}" class="btn btn-primary">Fund this project</a>
      </div>
    {{/if}}
  </div>
</template>

<template name="join">
  <div class="row">
    <div class="col-md-12">
      If you want to join to this creative try project. Just click the below button. You can contribute this project.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
<!--       {{#if developerNumber}}

 -->
        <div class="row">
          <div class="col-md-12">
            Developer
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{developerNumber}} left
            <button class="btn btn-primary" id="developerJoin">Join</button>
          </div>
        </div>
      <!-- {{/if}} -->
    </div>
    <div class="col-md-6">
      <!-- {{#if designerNumber}} -->
        <div class="row">
          <div class="col-md-12">
            Designer
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{designerNumber}}
            <button class="btn btn-primary" id="designerJoin">Join</button>
          </div>
        </div>
      <!-- {{/if}} -->
    </div>
  </div>
</template>

<template name="fileUpload">
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default push-down">
    {{#if currentUser}}
      <div class="panel-body">
        <p>
          Add Files
            <input  type="file" name="file" class="fileInput"/>
            <span class="btn btn-primary fileUpload">
              Upload
            </span>
        </p>
      </div>
    {{/if}}
  </div>
{{#if uploads}}
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <th>Name</th>
    <th>Download</th>
    </thead>
    <tbody>
      {{#each uploads}}
      <tr>
        <td>{{name}}</td>
        <td><a href="{{url download=true}}" type="button" class="btn btn-warning" target="_brank">
          Download
        </a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
</div>
</div>
</template>
