<template name="project">
  <div class="container top-60">
    <div class="well">
      <div class="row">
        <div class="col-md-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>{{title}}</h2>
            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive" src="/img/portfolio/roundicons-free.png" alt="">
            <pre>
              {{description}}
            </pre>
            <ul class="list-inline">
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="well">
      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p>Please log in to leave a comment.</p>
      {{/if}}
  
      <ul class="comments">
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>


<template name="commentItem">
  <li>
  <h4>
    <span class="author">{{author}}</span>
    <span class="date">on {{submittedText}}</span>
  </h4>
    <p>{{body}}</p>
  </li>
</template>

<template name="commentSubmit">
  <form name="comment">
    <div class="row">
      <div class="col-md-8">
        <input type="text" class="form-control" id="commentbody" />
      </div>
      <div class="col-md-2">
       <button type="submit" class="btn btn-primary">Add Comment</button>
      </div>
    </div>
  </form>
</template>